@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


:root {
    --text-color: #fff;
    --bold-color: #ef476f;
    --link-color: #ffb300;
    --title-color: #118ab2;

    --info-title-color: salmon;
    --info-value-color: darkgray;
    
    --technologies-border-color: #ffb300;
    
    
    --main-header-background: #264653;
    --footer-background-primary: #06d6a0;
    --footer-background-secondary: #118ab2;

    --info-background-primary: #06d6a0;
    --info-background-secondary: #118ab2;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    /* height: 0px; */
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(191, 191, 191); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(165, 165, 165); 
}

html, body {
    /* width: 100%;
    height: 100vh; */
    padding: 0px 0px;
    margin: 10px 0px 0px 20px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

img {
    width: 240px;
    height: 275px;
    border-radius: 30px;

    float: left;
}

.bold {
    font-weight: 900;
    color: var(--bold-color);
}




.main-header {
    margin-left: 260px;
    padding: 5px 50px 30px;

    min-height: 240px;

    background-color: var(--main-header-background);
}

.main-header h1 {
    color: var(--text-color);
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;

    padding: 0px 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.main-header .job-role {
    background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;

    font-size: 30px;
    font-family: 'Quicksand', sans-serif;

    float: right;
    margin-top: -80px;
}


.main-header .introduction {
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
}

.contacts {
    padding: 15px 10px;
    margin-top: 8px;
    margin-bottom: 80px;

    background: linear-gradient(45deg, var(--info-background-primary), var(--info-background-secondary));

    display: flex;
    justify-content: space-evenly;

    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
}




.footer {
    padding: 20px 0px 0px 0px;

    text-align: center;
    
    color: white;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;

    margin-top: auto;

}

.footer a {
    background: -webkit-linear-gradient(-45deg, #52eede, #3c64e7, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
}


@keyframes gradient {
    0% {
        text-shadow: 0 0 12px #526fee;
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
        text-shadow: 0 0 9px #23d5ab;

    }
    100% {
        background-position: 0% 50%;
        text-shadow: 0 0 12px #526fee;

    }
}




.project {
    display: flex;

    margin-bottom: 80px;
}

.project-text {
    display: block;

    margin-left: 15px;

    font-family: 'Quicksand', sans-serif;
}

.carrousel {
    width: 40vh;
    min-width: 40vh;
    max-width: 40vh;
    height: 600px;

}
#socialMedia { animation: socialMediaAnimation infinite 10s; }
@keyframes socialMediaAnimation { 0% { content: url('images/socialMedia-1.jpg'); } 100% { content: url('images/socialMedia-2.jpg'); } }

#scheduleApi { animation: scheduleApiAnimation infinite 10s; }
@keyframes scheduleApiAnimation { 0% { content: url('images/scheduleApi-1.jpg'); } 50% { content: url('images/scheduleApi-2.jpg'); } 100% { content: url('images/scheduleApi-3.jpg'); } }
















.title {
    font-size: 36px;
    text-align: center;
    margin-left: -20px;
}

.info {
    font-size: 18px;

    margin: 50px 20px;
}

.info .topic {
    color: var(--info-title-color);
    display: inline-block;

    margin: 15px 0px 15px 0px;
}
.info .quick-summarize {
    margin-bottom: 0px;
}

.info .technologies {
    display: contents;
}

.info .technologies span {
    margin: 5px 1px;
    padding: 5px 18px;

    border-radius: 30px;

    background-color: var(--technologies-border-color);
    color: black;
}

.info .overview {
    padding: 10px;
}

.info .links {
    display: block;
    position: relative;
    margin-top: 60px;
}



