<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvard Certificate</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/certificates.css">
    <script src="https://kit.fontawesome.com/f0cb10bafc.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-content">

        <img src="../images/Profile.jpg" alt="Profile Picture.">
        
        <div class="main-header">
            <h1>Renato Versiani</h1>
            <span class="job-role">Developer</span>
            <span class="introduction">Hi! I'm Renato, more commonly known as Dr4kk0nnys!
                    I am from Brazil, and speak fluent English since 12.
                    My background with programming started at 11 years old, making Minecraft mods with java.
                    After a long path, I've mastered <span class="bold">Javascript</span>, <span class="bold">Typescript</span>, <span class="bold">Python</span> and numerous concepts, such as <span class="bold">OOP</span>, <span class="bold">Functional Programming</span>, <span class="bold">Micro contracts</span>, <span class="bold">Design Patterns</span>, etc ...
                    The reason I speak English with such ease is because of this early experience. I'm not the best, but I'm trying to improve every day.
            </span>
        </div>

        <div class="info">
            <div class="email">
                <i class="fas fa-envelope"></i>
                <span>renatoversianidrakk@gmail.com</span>
            </div>

            <div class="location">
                <i class="fas fa-map-marker-alt"></i>
                <span>Montes Claros, MG, Brazil.</span>
            </div>

            <div class="phone-number">
                <i class="fas fa-mobile-alt"></i>
                <span>+55 (38) 9 8402-2924</span>
            </div>

            <div class="linkedin">
                <i class="fab fa-linkedin"></i>
                <span><a href="https://www.linkedin.com/in/renato-versiani-dr4kk0nnys/" target="_blank">Renato Versiani</a></span>
            </div>

            <div class="github">
                <i class="fab fa-github"></i>
                <span><a href="https://www.github.com/Dr4kk0nnys/" target="_blank">Dr4kk0nnys</a></span>
            </div>
        </div>
    </div>

    <div class="main-certificate">
        <img src="../images/Harvard Certificate.jpg" alt="Harvard Certificate">
        <img src="../images/Harvard Completion.png" alt="Harvard Certificate">

        <div class="brief">
            <span>I've completed both 2020 & 2021 CS50 courses from Harvard University. With many challenges along the way, new concepts such as <span class="bold">memory allocation</span> and how a computer works. I've learned so much, and I couldn't be more proud of where I am and where I will be. Like they say, "It doesn't matter where you finish compared to others, but where you finished compared to yourself, when you started."</span>
        </div>
    </div>
    
</body>
</html>